# **Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import nltk
import re
import time
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
import string
from nltk.stem import PorterStemmer
from sklearn.model_selection import train_test_split
import plotly.figure_factory as ff
import plotly.express as px
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
import scipy.io
from sklearn.feature_selection import mutual_info_regression

# **Normalization function**

In [ ]:
def normalize(df):
  for column in df.columns:
    df[column] = (df[column] - df[column].mean()) / df[column].std()    
  return df

# **Data Handling**

In [ ]:
def read(url):
  mat = scipy.io.loadmat(url)
  l=list(mat.values())
  df = pd.DataFrame(l[-1], columns =['C1', 'C2', 'C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19'])
  return df

**Reading the files inside ADHD and Control ADHD Folders**

In [ ]:
import os

def get_filepaths(directory):

    file_paths = []  # List which will store all of the full filepaths.

    # Walk the tree.
    for root, directories, files in os.walk(directory):
        for filename in files:
            # Join the two strings in order to form the full filepath.
            filepath = os.path.join(root, filename)
            file_paths.append(filepath)  # Add it to the list.

    return file_paths
file_paths1 = get_filepaths("/content/drive/MyDrive/Colab Notebooks/ADHD_part1")
file_paths2 = get_filepaths("/content/drive/MyDrive/Colab Notebooks/ADHD_part2")
file_paths3 = get_filepaths("/content/drive/MyDrive/Colab Notebooks/Control_part1")
file_paths4 = get_filepaths("/content/drive/MyDrive/Colab Notebooks/Control_part2")

**Finding the minimum number of rows**

In [ ]:
AP1=[]
for i in file_paths1:
  df=read(i)
  r,c=df.shape
  AP1.append(r)

In [ ]:
print(len(AP1))
for i in file_paths2:
  df=read(i)
  r,c=df.shape
  AP1.append(r)

30

In [ ]:
print(len(AP1))
for i in file_paths3:
  df=read(i)
  r,c=df.shape
  AP1.append(r)

61

In [ ]:
print(len(AP1))
for i in file_paths4:
  df=read(i)
  r,c=df.shape
  AP1.append(r)

91

In [ ]:
len(AP1)

121

In [ ]:
AP1.sort()

In [ ]:
print("Minimum number of rows is",AP1[0])

Minimum number of rows is 7983

**Reducing the dimension of each subject's matrix to min_rows x 19**

In [ ]:
def split(url):
  mat = scipy.io.loadmat(url)
  l=list(mat.values())
  df = pd.DataFrame(l[-1], columns =['C1', 'C2', 'C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19'])
  return df[0:AP1[0]]

In [ ]:
AP1_df=[]
for i in file_paths1:
  df=split(i)
  #r,c=df.shape
  df=normalize(df)
  AP1_df.append(df)

In [ ]:
AP2_df=[]
for i in file_paths2:
  df=split(i)
  #r,c=df.shape
  df=normalize(df)
  AP2_df.append(df)

In [ ]:
AP3_df=[]
for i in file_paths3:
  df=split(i)
  #r,c=df.shape
  df=normalize(df)
  AP3_df.append(df)

In [ ]:
AP4_df=[]
for i in file_paths4:
  df=split(i)
  #r,c=df.shape
  df=normalize(df)
  AP4_df.append(df)

In [ ]:
AP1_MI=[]
AP1_MMI=[]
for i in AP1_df:
  arr=i.to_numpy()
  mi = np.array([mutual_info_regression(arr,arr[:, i]) for i in range(19)])
  d_vec = np.mean(mi, axis=0)
  AP1_MI.append(mi)
  AP1_MMI.append(d_vec)

**Finding average mutual information after finding mutual information between every column to obtain a 19 x 1 matrix for each subject**

In [ ]:
AP2_MI=[]
AP2_MMI=[]
for i in AP2_df:
  arr=i.to_numpy()
  mi = np.array([mutual_info_regression(arr,arr[:, i]) for i in range(19)])
  d_vec = np.mean(mi, axis=0)
  AP2_MI.append(mi)
  AP2_MMI.append(d_vec)

In [ ]:
AP3_MI=[]
AP3_MMI=[]
for i in AP3_df:
  arr=i.to_numpy()
  mi = np.array([mutual_info_regression(arr,arr[:, i]) for i in range(19)])
  d_vec = np.mean(mi, axis=0)
  AP3_MI.append(mi)
  AP3_MMI.append(d_vec)

In [ ]:
AP4_MI=[]
AP4_MMI=[]
for i in AP4_df:
  arr=i.to_numpy()
  mi = np.array([mutual_info_regression(arr,arr[:, i]) for i in range(19)])
  d_vec = np.mean(mi, axis=0)
  AP4_MI.append(mi)
  AP4_MMI.append(d_vec)

In [ ]:
AP1_MMI[0].shape

(19,)

In [ ]:
AP1_MM=[l.tolist() for l in AP1_MMI]

In [ ]:
AP2_MM=[l.tolist() for l in AP2_MMI]
AP3_MM=[l.tolist() for l in AP3_MMI]
AP4_MM=[l.tolist() for l in AP4_MMI]

In [ ]:
df_prepro=pd.DataFrame(data=AP1_MM,columns =['C1', 'C2', 'C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19'])

In [ ]:
df_prepro2=pd.DataFrame(data=AP2_MM,columns =['C1', 'C2', 'C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19'])

In [ ]:
df_prepro3=pd.DataFrame(data=AP3_MM,columns =['C1', 'C2', 'C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19'])

In [ ]:
df_prepro4=pd.DataFrame(data=AP4_MM,columns =['C1', 'C2', 'C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14','C15','C16','C17','C18','C19'])

**Getting the final preprocessed csv file**

In [ ]:
df_finalcsv=pd.concat([df_prepro, df_prepro2, df_prepro3,df_prepro4], ignore_index=True)

In [ ]:
label=[]
for i in range(0,121):
  if(i<61):
    label.append(0)
  else:
    label.append(1)

In [ ]:
df_finalcsv['label']=label

In [ ]:
df_finalcsv

           C1        C2        C3  ...       C18       C19  label
0    0.335038  0.350803  0.386383  ...  0.313667  0.310917      0
1    0.387232  0.274562  0.494701  ...  0.253041  0.430822      0
2    0.213529  0.226200  0.233447  ...  0.257888  0.227645      0
3    0.292671  0.241536  0.493374  ...  0.342920  0.378390      0
4    0.346029  0.354078  0.360827  ...  0.376372  0.309475      0
..        ...       ...       ...  ...       ...       ...    ...
116  0.309895  0.312626  0.230568  ...  0.241214  0.252185      1
117  0.318146  0.284052  0.255549  ...  0.248315  0.199927      1
118  0.301197  0.270250  0.310468  ...  0.244984  0.210675      1
119  0.413807  0.306365  0.372274  ...  0.271187  0.364075      1
120  0.504606  0.317867  0.540027  ...  0.225885  0.299112      1

[121 rows x 20 columns]

In [ ]:
df_finalcsv.to_csv('Df_preprocessed.csv')